*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background: #2D2735;
}
/*HEADER*/
header{
	background: #1C1821;
	color: white;
}
header img{
	width: 50%;
}
.menu{
	margin: 5% 0% 0% 0%;
}
header a{
	padding: 0% 0% 0% 3%;
}
header a, .dos a{
	font-style: italic;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: orange;
}
/*SECTION1*/
.unocentro, .texto{
	background: #1C1821;
}
.uno{
	margin: 5% 0%;
	background: url(../image/header-image.jpg);
}
.unocentro{
	margin: 10% 22%;
}
.titulo{
	color: #F7BA6A;
	font-family: 'Courgette';
}
span {
    color: white;
    font-size: 20px;
    padding: 0% 4% 0% 4%;
}
/*SECTION2*/
.dos img{
width: 100%;
}
.texto{
	    padding-bottom: 15px;
}





/*FOOTER*/

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {
	.unocentro{
	margin: 0% 0% 0% 0%;
}
}
